.people {
  @include flex-box;
  display: flex;

  &--img {
    width: 540px;
    height: 600px;
  }

  &__div {
    width: 350px;

    &--title {
      @include ibarra;
      font-size: 40px;
      line-height: 42px;
    }

    &--text {
      @include public;
      font-size: 16px;
      line-height: 30px;
    }

    &--link {
      @include public;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 2px;
      text-transform: uppercase;
    }

  }
}