.people {
  display: flex;

  &__img-div{
    &--img {
      display: inline-block;
      width: 540px;
      height: 600px;
    }
  
  }

  &--span {
    width: 150px;
  }

  &__div {
    width: 350px;
    height: 600px;

    border-top: 1px solid #000;

    &--title {
      @include ibarra;
      font-size: 40px;
      line-height: 42px;
      margin: 50px 0px 30px;
    }

    &--text {
      @include public;
      font-size: 16px;
      line-height: 30px;
      opacity: 0.8;
      margin: 0px;
      margin-bottom: 45px;
    }

    &--link {
      @include public;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 2px;
      text-transform: uppercase;
      text-decoration: none;
      padding: 17px 35px;
      border: 1px solid #000;
      margin-top: 50px;
      color: #33323D;

      &:hover {
        background-color: #000;
        color: #fff;
      }

      &:active {
        border: 1px solid #33323d61;
        background-color: #fff;
        color: #000;
      }
    }

  }
}

@media only screen and (max-width:768) {
  .people {
    display: flex;
    
    &__img-div{
      position: relative;
      &--img {
        width: 540px;
        height: 600px;
        display: none;
      }
      
    }
    &--span{
      width: 10px;
    }
    &__div {
      width: 340px;
      height: 600px;

      border-top: 1px solid #000;

      &--title {
        @include ibarra;
        font-size: 40px;
        line-height: 42px;
        margin: 50px 0px 30px;
      }

      &--text {
        @include public;
        font-size: 16px;
        line-height: 30px;
        opacity: 0.8;
        margin: 0px;
        margin-bottom: 45px;
      }

      &--link {
        @include public;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-decoration: none;
        padding: 17px 35px;
        border: 1px solid #000;
        margin-top: 50px;
        color: #33323D;

        &:hover {
          background-color: #000;
          color: #fff;
        }

        &:active {
          border: 1px solid #33323d61;
          background-color: #fff;
          color: #000;
        }
      }

    }
  }
}